.container {
  display: block;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  height: 40rem;
  width: 60rem;
  padding: 1.5rem;
  margin-top: 5rem;
  background: rgb(247, 247, 247);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 20px;
  box-shadow: 2px black;
}

.form-container {
  display: flex;
  justify-content: center;
  gap: 10rem;
  margin-top: 1rem;
}

.form-container textarea {
  resize: none;
}

.base-input {
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
  font-family: inherit;
  width: 100%;
  border: 0;
  border: 2px solid gray;
  font-size: 1.1rem;
  background-color: rgba(99, 99, 99, 0.2);
  border-radius: 5px;
  padding: 5px 10px;
}

.form-container textarea {
  width: 25rem;
  font-size: 1.2rem;
}