* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
textarea,
button {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}